:root {
  --font-size: 16px;
  --container-width: 1110px;
  --main-color: #4e5a65;
  --title-color: #35414b;
  --main-weight: 400;
  --font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--main-color);
  font-weight: var(--main-weight);
  text-align: center;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
  justify-content: center;
  overflow-x: hidden;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

.container {
  max-width: var(--container-width);
}

.mainHeader {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
}

.menuHeader > nav > ul {
  display: flex;
}

.menuHeader > nav > ul > li {
  padding-right: 30px;
}

.menuHeader > nav > ul > li:nth-child(4) {
  padding-right: 0;
}

.logoHeader {
  font-family: "Josefin Sans", sans-serif;
  font-size: calc(1.5 * var(--font-size));
  color: black;
}

.menuHeaderLink,
.logHeader,
.btnFree {
  font-family: var(--font-family);
  color: #35414b;
  font-size: var(--font-size);
  font-weight: var(--main-weight);
}

.menuHeaderLink > i {
  padding-left: 5px;
  font-size: calc(0.8 * var(--font-size));
  font-weight: var(--main-weight);
}

.logHeader {
  padding-right: 15px;
}

.btnFree {
  padding: 15px 20px;
  color: #794cff;
  font-weight: 500;
  background-color: #ece5ff;
  border-radius: 5px;
}

.infoHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.save {
  position: relative;
}

.save::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2120px;
  left: -1160px;
  width: 3130px;
  height: 3130px;
  border-radius: 50%;
  background-color: #fbfafe;
  border: 1px solid #f0ebfa;
}

.save > span,
.getAccount {
  font-weight: 500;
  padding: 7px 15px;
  border-radius: 30px;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.save > span {
  position: absolute;
  z-index: 1;
  top: -8px;
  color: #fff;
  background-color: #81c43b;
}

.getAccount {
  color: #35414b;
  background-color: #f2f9eb;
  padding-left: 115px;
}

h1 {
  margin-top: 20px;
  font-size: calc(4 * var(--font-size));
  font-weight: 600;
  line-height: 72px;
  color: var(--title-color);
}

.textHeader {
  margin-top: 24px;
  max-width: 506px;
  line-height: 24px;
}

.formHeader {
  margin-top: 40px;
}

.formHeader > span {
  color: #97a5b5;
  padding: 20px 110px 20px 30px;
  border: 1px solid #97a5b5;
  border-radius: 5px;
}

.linkForm {
  color: #fff;
  margin-left: -10px;
  padding: 20px 40px;
  background-color: #794cff;
  border: 1px solid #794cff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.imgHeader {
  margin-top: 50px;
  object-fit: cover;
}

.teamGroup {
  margin-top: 60px;
}

.teamText {
  text-transform: uppercase;
}

.teamText > span {
  font-weight: 700;
}

.iconCompany {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.iconHeader {
  max-width: 90px;
  min-height: 25px;
  object-fit: cover;
}

.message {
  margin-top: 100px;
  padding: 60px 0 120px;
  background-color: #fbfafe;
  border-top: 1px solid #f0ebfa;
  border-bottom: 1px solid #f0ebfa;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.boxBg {
  max-width: 1110px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.timeline {
  display: flex;
  border: 1px solid #e1e5ea;
  padding: 70px 30px 0;
  border-radius: 5px;
  background-color: #fff;
}

.timeline > span {
  position: absolute;
  top: 50px;
  font-weight: 500;
}

.iconMessage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 16px;
}

.iconMessage > i {
  padding: 8px;
  border-radius: 50px;
}

.fa-comment-dots {
  color: #f4cc4e;
  background-color: #fdf8e8;
  margin-top: 15px;
}

.fa-comment-dots::after {
  position: absolute;
  top: 138px;
  left: 46px;
  content: "";
  width: 1px;
  height: 255px;
  background-color: #e1e5ea;
}

.fa-clock {
  color: #0dce5e;
  background-color: #e5f8ed;
  margin-bottom: 60px;
}

.fa-clock::after {
  position: absolute;
  top: 443px;
  left: 46px;
  content: "";
  width: 1px;
  height: 40px;
  background-color: #e1e5ea;
}

.dateMessage {
  font-size: 11px;
  text-align: left;
  padding: 15px;
}

.dateMessage > span {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.textMessage {
  font-size: 13px;
  border: 1px solid #e1e5ea;
  border-radius: 5px;
  padding: 16px;
  text-align: left;
  line-height: 16px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.textMessage > span {
  color: #3b7ff6;
  font-size: 13px;
}

.textMessageEnd {
  margin-bottom: -2px;
  border-bottom: none;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.answer {
  position: absolute;
  top: 185px;
  left: 305px;
  border: 1px solid #e1e5ea;
  border-radius: 5px;
  z-index: 1;
  background-color: #fff;
}

.answerBox {
  padding: 30px;
}

.user {
  display: flex;
  padding-bottom: 20px;
}

.userPhoto {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userName {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}

.positionWork {
  font-size: 9px;
}

.messageReply {
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  border: 1px solid #e1e5ea;
  border-radius: 5px;
  padding: 15px 40px 120px 15px;
}

.messageReply > span {
  font-size: 13px;
  color: #3b7ff6;
}

.btnSend {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  background-color: #3b7ff6;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  margin-top: 20px;
  margin-left: 205px;
}

.benefitsText {
  max-width: 372px;
  border-bottom: 1px solid #e1e5ea;
  padding: 25px;
}

.benefitsText:nth-child(4) {
  border-bottom: none;
}

.benefitsText:hover {
  border: 1px solid #e1e5ea;
  border-left: 8px solid #794cff;
  background-color: #f6f3fc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: border-left 0.3s;
}

.benefitsTitle {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: var(--title-color);
}

.benefitsInfo {
  line-height: 24px;
  text-align: left;
  padding-top: 10px;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  margin: 100px 0;
}

.advantagesMainTitle {
  grid-column: 1 / 4;
  font-size: 40px;
  font-weight: 600;
  color: var(--title-color);
}

.advantagesBox {
  padding-top: 50px;
  padding-right: 65px;
  text-align: left;
}

.advantagesBoxCenter {
  justify-self: center;
}

.advantagesBoxEnd {
  justify-self: end;
  padding-right: 0;
}

.advantagesBox > i {
  font-size: 25px;
  padding: 20px;
  border-radius: 50%;
}

.fa-chart-bar {
  color: #f49c4e;
  background-color: #fef6ee;
}

.fa-address-book {
  color: #23cec9;
  background-color: #e8fafa;
}

.fa-chalkboard-teacher {
  color: #b84dc5;
  background-color: #f7ebf9;
}

.fa-comments {
  color: #f65d88;
  background-color: #ffeff3;
}

.fa-network-wired {
  color: #5526b3;
  background-color: #ede8f7;
}

.fa-cogs {
  color: #f4a45d;
  background-color: #fef5ec;
}

.advantagesTitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--title-color);
  text-align: left;
  padding-top: 24px;
}

.advantagesText {
  max-width: 306px;
  line-height: 24px;
  text-align: left;
  padding-top: 8px;
}
